{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <h2 class="products-title">Книги</h2>
    <div class="product-container">

        {% csrf_token %}
        {% for book in books %}
            <div class="product">
            <form method="post" action="{% url 'add shopping cart' %}">
                <h3>{{ book.title }}</h3>
                {% if book.cover_image %}
                    <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover"
                         style="width: 150px; height: 200px; object-fit: cover; margin-bottom: 10px;">
                {% else %}
                    <p>No cover image available</p>
                {% endif %}
                <p><strong>Автор:</strong> {{ book.author }}</p>
                <p><strong>Страници:</strong> {{ book.pages }}</p>
                <p><strong>Цена:</strong> {{ book.price }} лв</p>

                    {% csrf_token %}
                    <label for="quantity{{ book.id }}">Количество:</label>
                    <input type="number" id="{{ book.pk }}" name="quantity" value="1" min="1">
                    <input type="hidden" name="product_model" value="Book">
                    <input type="hidden" name="product_id" value="{{ book.pk }}">
                    <button type="submit" class="shopping-cart-add-button">Добави в количката</button>
                </form>
            </div>
            {% if forloop.counter|divisibleby:4 or forloop.last %}

            {% endif %}
        {% endfor %}
    </div>


    <div class="pagination">
        {% if is_paginated %}
            <span class="page-links">
      {% if books.has_previous %}
          <a href="?page=1">First</a>
          <a href="?page={{ books.previous_page_number }}">Previous</a>
      {% endif %}
                <span class="page-current">
        Page {{ books.number }} of {{ books.paginator.num_pages }}.
      </span>
                {% if books.has_next %}
                    <a href="?page={{ books.next_page_number }}">Next</a>
                    <a href="?page={{ books.paginator.num_pages }}">Last</a>
                {% endif %}
    </span>
        {% endif %}

    </div>
{% endblock %}