{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <main>
        <div class="text-container">
            <h1>Добре дошли в книжарница Алекса!</h1>
            <h2>Направи регистрация сега и получи 5% отстъпка при първа поръчка!</h2>
        </div>
        <form class="registration-form" action="{% url 'register' %}" method="post">
            <h2>Регистрация</h2>
            {{ form.as_p }}
            <div class="container">

                <button type="submit" class="registration-button">Регистрация</button>
            </div>
            {% csrf_token %}
        </form>
    </main>
{% endblock %}
