{% extends 'base.html' %}
{% load static %}


{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">


    <form class="registration-form" action="{% url 'logout' %}" method="post">
            <h2>Profile details, {{ user.email }}</h2>
            {{ form.as_p }}
            <div class="container">

                <button type="submit" class="registration-button">Изход</button>
            </div>
            {% csrf_token %}
        </form>
{% endblock %}