{% extends 'base.html' %}
{% load static %}


{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">


    <form class="registration-form" action="{% url 'logout' %}" method="post">
        <div class="container">
            {{ form.as_p }}
            <h2>{{ user.email }}</h2>
            {% if user.first_name and user.last_name %}
            <h3>First name: {{ user.first_name }}</h3>
            <h3>Last name: {{ user.last_name }}</h3>
            {% endif %}


            <div class="container">
                <button type="submit" class="shopping-cart-add-button">Моите поръчки</button>
            </div>


            <div class="container">
                <button type="submit" class="shopping-cart-add-button">Изход</button>
            </div>

            {% csrf_token %}
        </div>
    </form>
{% endblock %}